body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; 
}
#map-container,
  body,
  html {
    height: 90%;
    width: 100%;
  }

#map {
    height: 100%;
    width: 50%;
  }
.box {
  background-color: darkkhaki;
  padding: 1em;
  border: 1px solid #cccc99;
  border-radius: 10px;
}