body {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; 
  background-color: darkslategrey;
  color: azure;
  font-size: 1.1em;
}

h1 {
  font-family: 'Kalam', cursive;
  text-align: center;

}

h4 {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  color: black;
  font-size: 24;
  text-align: center;
}

#header {
  margin-top: 20px;
}

#heading {
  font-size: 80px;
}

#sub-heading {
  font-size: 60px;
}
#caption{
  font-size: 35px;
}

#img-welcome {
  width: 75%;
  height: auto;
  border-radius: 30px;
}

#map
  body,
  html {
    display: inline-block;
    height: 100%;
    width: 100%;
  }

#map {
  text-align: center;
  /* display: inline-block; */
  height: 100%;
  width: 100%;
  /* width: 200px; 
  height: 400px; */
  border: 2px solid #AAA;
  position:relative;
  border-radius: 40px;
}

.box {
  background-color: darkkhaki;
  padding: 1em;
  border: 1px solid #cccc99;
  border-radius: 10px;
}
#selectedCounty {
  font-size: 60px;
  font-family: Lucida Calligraphy;
}
/* GRETEL FIGURE THIS OUT */
#ALL-plots {
  display: inline-block;
  width: 90%;
}
#hosp-county-plot,#hospital-NJ-plot {
  max-height: calc(200px + 20px) !important;
  overflow: hidden;
  text-align: center;
}

#income-plot {
  text-align: center;
  height: 100%;
  width: 100%;
}


.d3-tip {
  line-height: 1;
  font-weight: bold;
  padding: 12px;
  background: rgba(0, 0, 0, 0.8);
  color: #fff;
  border-radius: 2px;
}

.d3-tip:after {
  box-sizing: border-box;
  display: inline;
  font-size: 10px;
  line-height: 1;
  color: rgba(0, 0, 0, 0.8);
  content: "\25BC";
  position: absolute;
  text-align: center;
}

.d3-tip.n:after {
  margin: -1px 0 0 0;
  top: 100%;
  left: 0;
}

td {
  font-weight: bold;
  text-shadow:
    -1px -1px 0 #FFF,  
    1px -1px 0 #FFF,
    -1px 1px 0 #FFF,
    1px 1px 0 #FFF; 
 font-size: 25px;
}

.imageRepeatBox {
  border: 1px solid black;
  background-size: 100% 100%;
  padding: 10px;
  background-image: url("../images/FlagNewJersey.jpg");
  background-repeat: no-repeat;
  opacity: 0.5;
}