body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; 
}
#map
  body,
  html {
    display: inline-block;
    height: 100%;
    width: 100%;
  }

#map {
  display: inline-block;
    height: 100%;
    width: 100%;
    
  }
.box {
  background-color: darkkhaki;
  padding: 1em;
  border: 1px solid #cccc99;
  border-radius: 10px;
}
#ALL-plots {
  display: inline-block;
  width: 90%;

}
#plot3,#plot4 {
  max-height: calc(200px + 20px) !important;
  overflow:hidden;
}

